<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rsinkwitz.notif_snd_assist">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application
        android:allowBackup="true"
        android:label="NotificationSoundAssistant"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@drawable/ic_launcher">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"/>

        <service
            android:name=".NotificationMonitorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="false"
            android:foregroundServiceType="mediaProjection">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>
